<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Download</title>
    </head>
    <body>
        <h2>File List</h2>
        <!--无序列表-->
        <ul>
            {% for file in file_list %}
            <!--无序列表 "."-->
            <li>
                <!--超链接-->
                <a href="{{ url_for('logDownload', name=file) }}"
                   methods="GET">{{ file }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>